<div id="content" class="container text-center">
  
    <span class="enormous-font bree-font"> {{statusCode}} </span>
    </br>
    <span class="big-font"> Whatever it is you are looking for ... it's not here ! </span>
    <hr>
    <span class="big-font"> Let’s return to the <a href="/" class="underline">home page</a></span>
  
</div>
