
<form class="text-center form-signup" action="/account/signup" method="POST">
    <h2>Sign up</h2>
    <input class="form-control text-box" required name="username" maxlength="50"
           placeholder="Username" type="text" autofocus/>
    <input class="form-control text-box" required name="email" type="email"
            maxlength="40" placeholder="Email"/>
    <input class="form-control text-box" required name="password"
           placeholder="Password" type="password" />

    <button class="btn btn-lg btn-success btn-block" type="submit">
        Submit
    </button>
    <a href="/account/login">Already have an account ? - Sign in</a>
</form>
